.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup_sub {
  width: 100%;
}

.signup_sub_two {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

.title {
  font-size: 28px;
  padding: 5px 10px;
  margin: 8px 0;
  text-align: center;
}

.form {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input,
.button,
.select {
  width: 400px;
}

.input {
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid black;
}

.input:focus,
.select:focus {
  outline: 0;
}

.select {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 5px;
}

.button {
  border: 0;
  cursor: pointer;
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 3px;
}

.button:hover {
  background-color: black;
  color: whitesmoke;
}

.error {
  color: red;
  font-size: 14px;
}

.login_link {
  padding: 5px 0;
  font-size: 1.5rem;
}
