.nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-end;
}

.nav_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  padding: 7px 10px;
  font-size: 1.6rem;
  border-radius: 2px;
  background-color: transparent;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

.nav_button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1330px) {
  .nav {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 46px;
    background-color: black;
    width: 100vw;
    right: -40px;
    opacity: 0.8;
    padding-left: 27px;
  }
  .nav_button {
    color: white;
    border-radius: 0;
    padding: 1.2rem 0;
  }

  .nav_button:hover {
    color: blanchedalmond;
    text-decoration: underline;
  }
}
